<div class="about-me-header">

  <h3 class="about-description"> By becoming a full-stack developer, I have been able to combine my passion of learning and creating. As a recent Le Wagon graduate, I am looking for a new challenge to broaden my skills and strengthen my learning. </h3>

</div>
