<div class="footer">
  <div class="footer-links">

    <%= link_to "https://github.com/melawein", target: :_blank do %>
      <i class="fab fa-github"></i>
    <% end %>

    <%= link_to "https://www.linkedin.com/in/melissa-weinstein/", target: :_blank do %>
      <i class="fab fa-linkedin"></i>
    <% end %>
</div>
<!--   <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div> -->
</div>
