<div class="footer">
  <div class="footer-links">

    <%= link_to "https://github.com/melawein", target: :_blank do %>
      <i class="fab fa-github"></i>
    <% end %>

    <%= link_to "https://www.linkedin.com/in/melissa-weinstein/", target: :_blank do %>
      <i class="fab fa-linkedin"></i>
    <% end %>

    <%= mail_to "mel.weinstein31@gmail.com" do %>
<i class="fas fa-envelope"></i>
<% end %>
</div>
  <div class="footer-copyright">
    Handcrafted by me <i class="far fa-copyright"></i> Mel Weinstein
  </div>
</div>
