<div class="background-main">

  <div id="intro">

    <div id="intro-header">

      <h1 class="main-header">web developer.</h1>
      <h3 class="text text-header">good design is of the utmost importance.</h3>
    </div>

  </div>

<!--   <div id="contact">
    <h1> contact</h1> -->
    <%# render 'shared/contact_form' %>
  <!-- </div> -->

  <div class="about-me-home">
    <div class="aboutme-container">
    <h1>Hi, I'm Melissa. Nice to meet you.</h1>

  <div class="aboutme-text">
    <p>I began my journey aspiring to be a developer and was finally given the opportunity to learn with Le Wagon. In 9-weeks I was able to create two websites, which can be found on the projects page. I am continuously learning to improve my skills and am eager to continue this new passion of mine.</p>


  </div>


</div>
</div>
