<div class="background-main">

  <div id="intro">

    <div id="intro-header">

      <h1 class="main-header">front-end developer.</h1>
      <h3 class="text text-header">good design is of the utmost importance.</h3>
    </div>

    <%= link_to "my portfolio", "#", class: "port-button" %>
  </div>


  <div id="about-me">
    <h1> about me</h1>
    <%= render 'shared/aboutme' %>
  </div>

    <div id="resume">
    <h1> resume</h1>
  </div>

    <div id="projects">
    <h1> projects</h1>
  </div>

    <div id="contact">
    <h1> contact</h1>
  </div>

</div>
