<div class="project-background">
  <div class="project">
    <div class="project-header">
      <h1>My Projects</h1>
    </div>

    <div class="project-names">
      <div class="project1 flex-column">
        <h3>Petpal</h3>
        <div class="proj-1-info">
        <p>This project was the first project made using a rails application during the 9-week bootcamp with Le Wagon Petpal was created as a mock AirBnB where you can rent an animal for a few days, as well as, rent your animal to others. </p>

        <p> <strong> Skills Used:</strong> Ruby on Rails, HTML, CSS</p>
        </div>
        <div class="proj-1-btn">
        <%= link_to 'View the Website here', 'https://petpalz.herokuapp.com/', target: :_blank, class: 'website-btn'%>
        </div>
      </div>

      <div class="project2">
        <h3>Lifeline</h3>
        <div class="proj-2-info">
        <p>During our final two weeks of our bootcamp this progressive web application was created using Ruby on Rails. This website was created to allow individuals to track their feelings while being able to also add journal entries.</p>

        <p> <strong> Skills Used:</strong> Ruby on Rails, HTML, CSS, and Javascript</p>
        </div>

        <p style="font-size: 10px">*Please switch to a mobile view*</p>

        <div class="proj-2-btn">

        <%= link_to 'View the Website here', 'http://www.life-line.club/', target: :_blank, class: 'website-btn'  %>
      </div>
      </div>
    </div>
  </div>

  <h1 class="skills-header">Skills</h1>

  <div class="skills">
    <div class="html">
      <h3>HTML</h3><img src="https://img.icons8.com/ios/100/000000/html-5.png">
    </div>
    <div class="css">
      <h3>CSS</h3> <img src="https://img.icons8.com/ios/100/000000/css3.png">
    </div>
    <div class="javascript">
      <h3>JavaScript</h3> <img src="https://img.icons8.com/ios/100/000000/javascript-logo.png" style="font-size: 60px;">
    </div>
    <div class="ruby">
      <h3>Ruby on Rails</h3><img src="https://img.icons8.com/ios-filled/100/000000/ruby-programming-language.png">
    </div>
  </div>
</div>


