
#contact {
  background-color: white;
  height: 90vh;
}

.contact-form {
  width: 450px;
  height: 425px;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  // background-color: #F4F4F4;
  justify-content: center;
  margin: 0 auto;
}

.form-intro {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-align: center;
  background-color: white;

}

#button-send {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  border: none;
  padding: 10px !important;

}

input {
  border: none !important;
  // background-color: #F4F4F4 !important;

}

#mc_embed_signup {
  // background-color: #F4F4F4 !important;
  align-items: center !important;
  padding: 5px !important;
  justify-content: center !important;
  display: flex !important;
  align-items: center !important;
  h2 {
    font-weight: normal !important;
    padding-bottom: 20px !important;
  }
  label {
    padding-bottom: 5px;
  }
}

#mce-FMES {
  height: 150px;
}



.form-inputs {
  background-color: white;

  border-radius: 5px;
}

.mc-field-group {
  text-transform: capitalize;
  // border: 1px solid;
  background-color: linear-gradient(#808080 0%, #FFFFFF 100%) no-repeat 50% 50% / 100% 100%;

}


#mc-embedded-subscribe {
}

















