.navbar-portfolio {
  justify-content: space-between;
  background: white;
}

.navbar-portfolio .navbar-collapse {
  flex-grow: 0;
}

.navbar-portfolio .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
}
