

.navbar-portfolio {
  justify-content: space-between;
  background: white;
  padding-right: 50px;
  padding-left: 50px;
  height: 60px;
  width: 100%;
  z-index: 999;

}
#navbar {
  overflow: hidden;

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
}

.content {
  padding-top: 60px;
}


.navbar-collapse {
  display:flex;
  width: 30%;
  justify-content: space-evenly;
  margin-right: 0;
  // margin-bottom: 20px;
}

.navbar-portfolio .navbar-collapse {
  flex-grow: 0;
}

.navbar-portfolio .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
}

.nav-item a{
  color: #5F5AA2;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;

  &:hover {
    color: #5F5AA2;
    justify-content: space-between;
    text-decoration: none;
  }
}


#about-me {
  background: white;
  text-decoration: none;

}
















