.navbar-portfolio {
  justify-content: space-between;
  background: white;
  &:active {

  }
}

.navbar-collapse {
  display:flex;
  width: 35%;
  justify-content: space-between;
  margin-right: 0;
}

.navbar-portfolio .navbar-collapse {
  flex-grow: 0;
}

.navbar-portfolio .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
}

.nav-item a{
  color: grey;
  justify-content: space-between;
  &:active {
    color: grey;
    justify-content: space-between;
  }
}


#about-me {
  background: white;
  text-decoration: none;

}

