
@media(max-width: 400px) {
  .navbar-expand-sm {
    height: 100px;
      text-align: center;
      overflow: hidden;
      padding-right: 50px;
      padding-left: 50px;
      .navbar {
        padding: 0;
      }
  }
}

@media(max-width: 400px) {
  .aboutme-container {
    height: 225px;
    width: 320px;
    margin-top: 50px;

    h1 {
      font-size: 15px;
      p {
        font-size: 8px;
      }
    }
  }
}

@media(max-width: 400px) {
  .aboutme-text {
    font-size: 10px;
  }
}

@media(max-width: 400px) {
  #about-me-home {
    width: 300px;
    margin: 0px;
  }
}


@media(max-width: 400px) {
  .arrow {
    display: none;
    .below {
      display:none;
    }
  }
}

@media(max-width: 400px) {
  .intro {
     background-image: asset-url("portfoliopiccopy.jpg");
    height: 300px;
    padding: 10px;
    h1 {
      font-size: 30px;
    }
  }
}

@media(max-width: 400px) {
  .background-main {
    height: 400px;
  }
}

@media(max-width: 400px) {
  .text-header {
    font-size: 20px;
  }
}

@media(max-width: 400px) {
  .below {
    display: none;
  }
}


@media(max-width: 400px) {
  .background-main {
    height: 300px;
  }
}


// @media(max-width: 375px) {

// }



