.resume-info {
  margin: 0 auto;
  background: white;
  h1 {
    text-align: center;
  }
}

.cv {
  // height: 70vh;
  width: 90%;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  display: block;
}
